PYTHON_APP_VERSION=571fa8e02764296ea35969f2252fea2c
PYTHON_APP_PORT=80
ZOOKEEPER_VERSION=3.8
ZOOKEEPER_PORT=2181
CLICKHOUSE_VERSION=head-alpine
CLICKHOUSE_USER=default
CLICKHOUSE_USER_PASSWORD=senh@segUr@1
CLICKHOUSE_PORT_HTTP_NATIVE=8123
CLICKHOUSE_PORT_NATIVE=9000