URL_API_OPEN_METEO=https://air-quality-api.open-meteo.com/v1
ZOOKEEPER_PORT=2181
CLICKHOUSE_USER=default
CLICKHOUSE_USER_PASSWORD=senh@segUr@1
CLICKHOUSE_PORT_HTTP_NATIVE=8123
CLICKHOUSE_PORT_NATIVE=9000